
#top {
    background-color: rgba(221,221,221, .6);
    position: relative;    
    color: black;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    background-color: rgba(221,221,221, .6);
    padding: 5px;
    /*position:absolute;*/
    float: bottom;
    margin: 10px 0px 0px 0px;
    left:10px;
    right: 10px;
    bottom:10px;    
}

#left {
    float: left;
    background-color: #dddddd;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: rgba(221,221,221, .6);
    padding: 5px;
    /*height: 100%;*/
    margin: 0px 0px 0px 0px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

/*#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}*/

.bgimg {
    background-image:url(#{request.contextPath}/resources/images/parking_background_blur.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /*-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);*/
}

.footerText{    
    color:black;
}

#parqueadero{
    text-align: center;
    overflow: auto;
    max-height: 400px
}
/*table{
    margin: 0 auto;
    text-align: left;
}
table, th, td {
    border: 1px solid black;
}
td{
    width: 100px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}*/

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.updateBtnStyle {
    width: 80px !important;         
}

.col-sm-updated {          
    padding-top: 7px;           
}

.col-sm-updated a {
    text-decoration: none !important;
}

.text-edit {
    margin-left: 123px !important;
    margin-top: 29px !important;
}

.btnWidth {
    width: 80px;
}     

.col-sm-updated {           
    padding-top: 7px;           
}

.col-sm-updated a {
    margin-left: 30px;
    text-decoration: none !important;
}

.col-sm-27 {
    width: 27% !important   ;
}

.tableUpdated {
    width: 90% !important;
    margin: 17px 58px 0 !important;
}

.btnSpace {
    margin: 17px;
}