<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f = "http://java.sun.com/jsf/core"
                template="./index.xhtml">

    <ui:define name="content">
        <div class="center_content">
            <h3 style="text-align: center">Administración de Clientes registrados</h3>
            <p:accordionPanel>
                <p:tab title="Registrar Cliente">
                    <h:form id="reg-form">
                        <p:growl autoUpdate="true"/>
                        <p:messages autoUpdate="true"/>
                        <div class="row">
                            <div class="col s12 input-field">
                                <h:inputText value="#{clientesBean.clientesCedula}" id="cedula" />
                                <h:outputLabel for="cedula" value="Cédula del Cliente:"/>                                                   
                            </div>

                            <div class="col s12 input-field">
                                <h:inputText value="#{clientesBean.clientesNombre}" id="nombre" label="nombre"/>
                                <h:outputLabel for="nombre" value="Nombre:"/>                                                   
                            </div>   

                            <div class="col s12 input-field">
                                <h:inputText value="#{clientesBean.clientesApellido}" id="apellidos" label="apellidos"/>
                                <h:outputLabel for="apellidos" value="Apellido:"/>                                                   
                            </div>  

                            <div class="col s12 input-field">
                                <h:inputText value="#{clientesBean.clientesCorreo}" id="correo" label="correo"/>
                                <h:outputLabel for="correo" value="Correo:"/>                                                   
                            </div> 

                            <div class="col s12 input-field">
                                <h:inputText value="#{clientesBean.clientesTelefono}" id="telefono" label="telefono"/>
                                <h:outputLabel for="telefono" value="Teléfono:"/>                                                   
                            </div> 

                            <div class="col s12 input-field" style="text-align: center">                            
                                <h:commandButton action="#{clientesBean.editarClienteDialog()}" value="Registrar"  style="margin-left: 20px; margin-right: 20px" styleClass="btn btn-primary">
                                    <f:param name="confirmButton"/>
                                </h:commandButton>
                            </div> 
                        </div>
                    </h:form>
                </p:tab>

                <p:tab title="Administrar Clientes">
                    <h:panelGrid columns="1" cellpadding="5" style="background-color: white">                        
                        <h:form id="clientesForm">
                            <h:dataTable id="clientesTable" 
                                         binding="#{table}" 
                                         value="#{clientesBean.listaClientesDb()}" 
                                         var="clientes" 
                                         styleClass="table table-striped table-bordered tableUpdated">

                                <h:column>
                                    <f:facet name="header">Cédula</f:facet>
                                    <h:outputText value="#{clientes.clientesCedula}" />
                                </h:column>

                                <h:column>
                                    <f:facet name="header">Nombre</f:facet>
                                    <h:outputText value="#{clientes.clientesNombre}" />                
                                </h:column>

                                <h:column>
                                    <f:facet name="header">Apellidos</f:facet>
                                    <h:outputText value="#{clientes.clientesApellido}" />
                                </h:column>

                                <h:column>
                                    <f:facet name="header">Correo</f:facet>
                                    <h:outputText value="#{clientes.clientesCorreo}" />
                                </h:column>

                                <h:column>
                                    <f:facet name="header">Teléfono</f:facet>
                                    <h:outputText value="#{clientes.clientesTelefono}" />
                                </h:column>

                                <h:column>
                                    <f:facet name="header"></f:facet>
                                    <h:commandButton id="editClienteButton" action="#{clientesBean.editarClienteDialog()}" value="Editar" styleClass="btn btn-primary">
                                        <f:param name="clientesCedula" value="#{clientes.clientesCedula}" />
                                    </h:commandButton>
                                </h:column>

                                <h:column>
                                    <f:facet name="header"></f:facet>
                                    <h:commandButton action="#{clientesBean.borrarClientePorCedula(clientes.clientesCedula)}" value="Eliminar" styleClass="btn btn-danger" />
                                </h:column>                              
                            </h:dataTable>                          
                        </h:form>                        
                    </h:panelGrid>    
                </p:tab>
            </p:accordionPanel>

        </div> 
    </ui:define>

</ui:composition>
