<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f = "http://java.sun.com/jsf/core"
                template="./index.xhtml">

    <ui:define name="content">
        <div class="center_content">           
            <h3 style="text-align: center">Configuración Parkeasy</h3>
            <p:accordionPanel>
                <p:tab title="Dimensiones del parqueadero">
                    <h3 style="text-align: center">Indique las dimensiones del parqueadero</h3>                            
                    <h:form id="config-form">
                        <p:growl autoUpdate="true"/>
                        <p:messages autoUpdate="true"/>
                        <div class="row">
                            <div class="col s12 input-field">
                                <h:inputText value="#{configurar.filas}" id="filas" />
                                <h:outputLabel for="filas" value="Filas:"/>                                                   
                            </div>

                            <div class="col s12 input-field">
                                <h:inputText value="#{configurar.columnas}" id="columnas" label="columnas"/>
                                <h:outputLabel for="columnas" value="Columnas:"/>                                                   
                            </div>                                       

                            <div class="col s12 input-field" style="text-align: center">
                                <!--p:commandLink id="confirmButton" value="Confirmar" style="margin-left: 20px; margin-right: 20px" styleClass="btn btn-primary" action="#{configurar.configurarDimension()}"/-->
                                <h:commandButton action="#{configurar.configurarDimension()}" value="Confirmar"  style="margin-left: 20px; margin-right: 20px" styleClass="btn btn-primary">
                                    <f:param name="confirmButton"/>
                                </h:commandButton>
                            </div>                                                                                                                                               
                        </div>
                    </h:form>                    
                </p:tab>

                <p:tab title="Tipos de Vehículo">
                    <h:panelGrid columns="1" cellpadding="5">
                        <h:form id="tiposVehiculos-form">
                            <h:dataTable id="tipoVehiculoTable" 
                                         binding="#{table}" 
                                         value="#{tipoVehiculoBean.listaTipoVehiculoDb()}" 
                                         var="tipo_vehiculo" 
                                         styleClass="table table-striped table-bordered tableUpdated">

                                <h:column>
                                    <f:facet name="header">Código</f:facet>
                                    <h:outputText value="#{tipo_vehiculo.tipoVehiculoCod}" />
                                </h:column>

                                <h:column>
                                    <f:facet name="header">Descripción</f:facet>
                                    <h:outputText value="#{tipo_vehiculo.tipoVehiculoDescripcion}" />                
                                </h:column>

                                <h:column>
                                    <f:facet name="header"></f:facet>
                                    <h:commandButton value="Editar" styleClass="btn btn-primary">
                                        <f:param name="selectedSchoolId"/>
                                    </h:commandButton>
                                </h:column>

                                <h:column>
                                    <f:facet name="header"></f:facet>
                                    <h:commandButton value="Eliminar" styleClass="btn btn-danger" />
                                </h:column>                              
                            </h:dataTable>
                        </h:form>
                    </h:panelGrid>
                </p:tab>
                <p:tab title="Tarifas de Vehículos">
                    <h:panelGrid columns="1" cellpadding="10">
                        <h:form id="tarifas-form">
                            <h:dataTable value = "#{tarifasBean.listaTarifasDb()}" var = "tarifas"
                                         styleClass="table table-striped table-bordered tableUpdated">

                                <h:column>    				
                                    <f:facet name = "header">Código</f:facet>    				
                                        #{tarifas.tarifasCod}
                                </h:column>

                                <h:column>
                                    <f:facet name = "header">Valor de la Tarifa ($)</f:facet>
                                        #{tarifas.tarifasValor}
                                </h:column>

                                <h:column>    				
                                    <f:facet name = "header">Tipo de vehículo</f:facet>    				
                                        #{tarifas.tipoVehiculoCod}
                                </h:column>

                                <h:column>
                                    <f:facet name = "header">Tipo Tarifa</f:facet>    				
                                        #{tarifas.tarifaTipo}
                                </h:column>

                                <h:column>
                                    <f:facet name="header"></f:facet>
                                    <h:commandButton  value="Editar" styleClass="btn btn-primary">
                                        <f:param name="selectedSchoolId"/>
                                    </h:commandButton>
                                </h:column>

                                <h:column>
                                    <f:facet name="header"></f:facet>
                                    <h:commandButton value="Eliminar" styleClass="btn btn-danger" />
                                </h:column>
                            </h:dataTable>  
                        </h:form>

                    </h:panelGrid>
                </p:tab>
            </p:accordionPanel>                       
        </div>                             
    </ui:define>

</ui:composition>
