<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f = "http://java.sun.com/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputScript library="js" name="materialize.min.js"></h:outputScript>
        <h:outputStylesheet library="css" name="materialize.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="cssLayout.css"></h:outputStylesheet>
    </h:head>
    <h:body styleClass="cyan lighten-5 bgimg">
        <div class="container">
            <div class="card">
                <div class="card-content" style="border-radius: 50px">  
                    <h:form id="edit-form">
                        <p:growl autoUpdate="true"/>
                        <p:messages autoUpdate="true"/>
                        <div class="row">

                            <div class="col s12 input-field">
                                <h:inputText value="#{clientesBean.clientesCedula}"/>
                                <h:outputLabel for="cedula" value="Cédula del Cliente:"/>                                                   
                            </div>

                            <div class="col s12 input-field">
                                <h:inputText value="#{clientesBean.clientesNombre}" id="nombre" label="nombre"/>
                                <h:outputLabel for="nombre" value="Nombre:"/>                                                   
                            </div>   

                            <div class="col s12 input-field">
                                <h:inputText value="#{clientesBean.clientesApellido}" id="apellidos" label="apellidos"/>
                                <h:outputLabel for="apellidos" value="Apellido:"/>                                                   
                            </div>  

                            <div class="col s12 input-field">
                                <h:inputText value="#{clientesBean.clientesCorreo}" id="correo" label="correo"/>
                                <h:outputLabel for="correo" value="Correo:"/>                                                   
                            </div> 

                            <div class="col s12 input-field">
                                <h:inputText value="#{clientesBean.clientesTelefono}" id="telefono" label="telefono"/>
                                <h:outputLabel for="telefono" value="Teléfono:"/>                                                   
                            </div> 

                            <div class="col s12 input-field" style="text-align: center">                            
                                <h:commandButton action="#{clientesBean.actualizarCliente(clientesBean)}" value="Actualizar"  style="margin-left: 20px; margin-right: 20px" styleClass="btn btn-primary">
                                    <f:param name="confirmButton"/>
                                </h:commandButton>
                            </div> 
                        </div>
                    </h:form>       
                </div>
            </div>
            <!--/div>
        </div-->
        </div>                
    </h:body>
</html>

