<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <div id="contenedor">
        <body>        
            <ui:composition template="./index.xhtml">
                <ui:define name="content">
                    <h1>
                        Parqueadero Dinámico
                    </h1>
                    <!--nav id="tab_pisos">
                        <div class="icon-flecha-izq"></div>
                        <div class="tab">
                            <ul>
                                <li><a href="">Piso 1</a></li>
                                <li><a href="">Piso 2</a></li>
                                <li><a href="">Piso 3</a></li>
                                <li><a href="">Piso 4</a></li>
                                <li><a href="">Piso 5</a></li>
                                <li><a href="">Piso 6</a></li>
                            </ul>
                        </div>
                        <div class="icon-flecha-der"></div>
                    </nav-->
                    <div id="contenedor_pisos">
                        <div class="piso">
                            <div class="casilla reservado">
                                <div class="izq"></div>
                                <div class="med">
                                    Ocupado
                                    <!--label for="">Ocupado</label-->
                                </div>
                                <div class="der"></div>
                            </div>

                            <div class="casilla reservado">
                                <div class="izq"></div>
                                <div class="med">Reservado</div>
                                <div class="der"></div>
                            </div>
                            <div class="casilla">
                                <div class="izq"></div>
                                <div class="med ">
                                    <label>A3</label>
                                </div>
                                <div class="der"></div>
                            </div>
                            <div class="casilla">
                                <div class="izq"></div>
                                <div class="med ">
                                    <label>A4</label>
                                </div>
                                <div class="der"></div>
                            </div>
                            <div class="casilla">
                                <div class="izq"></div>
                                <div class="med">
                                    <label>A5</label>
                                </div>
                                <div class="der"></div>
                            </div>
                            <div class="casilla">
                                <div class="izq"></div>
                                <div class="med">
                                    <label>A6</label>
                                </div>
                                <div class="der"></div>
                            </div>
                            <div class="casilla">
                                <div class="izq"></div>
                                <div class="med">
                                    <label>A7</label>
                                </div>
                                <div class="der"></div>
                            </div>
                            <div class="casilla">
                                <div class="izq"></div>
                                <div class="med">
                                    <label>A8</label>
                                </div>
                                <div class="der"></div>
                            </div>
                            <div class="casilla">
                                <div class="izq"></div>
                                <div class="med">
                                    <label>A9</label>
                                </div>
                                <div class="der"></div>
                            </div>
                            <div class="casilla">
                                <div class="izq"></div>
                                <div class="med">
                                    <label>A10</label>
                                </div>
                                <div class="der"></div>
                            </div>
                            <div class="casilla">
                                <div class="izq"></div>
                                <div class="med">
                                    <label>A11</label>
                                </div>
                                <div class="der"></div>
                            </div>
                            <div class="casilla">
                                <div class="izq"></div>
                                <div class="med">
                                    <label>A12</label>
                                </div>
                                <div class="der"></div>
                            </div>
                        </div>                        
                    </div>
                </ui:define>
            </ui:composition>                

        </body>
    </div>
</html>
