<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f = "http://java.sun.com/jsf/core"
                template="./index.xhtml">

    <ui:define name="content">
        <div class="center_content">                                            
            <h3 style="text-align: center">Administración de vehículos registrados</h3>
            <p:accordionPanel>
                <p:tab title="Registrar Vehículo">
                    <h:form id="regveh-form">
                        <p:growl autoUpdate="true"/>
                        <p:messages autoUpdate="true"/>
                        <div class="row">
                            <div class="col s12 input-field">
                                <h:inputText value="#{vehiculosBean.vehiculosPlaca}" id="placa"/>
                                <h:outputLabel for="placa" value="Placa:"/>                                                   
                            </div>

                            <div class="col s12 input-field">
                                <h:inputText value="#{vehiculosBean.vehiculosTipo}" id="tipo" label="tipo"/>
                                <h:outputLabel for="tipo" value="Tipo:"/>                                                   
                            </div>                                       
                            <div class="col s12 input-field">
                                <h:inputText value="#{vehiculosBean.vehiculosClientesCedula}" id="cedula" label="cedula"/>
                                <h:outputLabel for="cedula" value="Cédula del propietario:"/>                                                   
                            </div>  

                            <div class="col s12 input-field" style="text-align: center">                            
                                <h:commandButton action="#{vehiculosBean.registrarVehiculo()}"  value="Registrar"  style="margin-left: 20px; margin-right: 20px" styleClass="btn btn-primary">
                                    <f:param name="confirmButton"/>
                                </h:commandButton>
                            </div>                                                                                                                                               
                        </div>
                    </h:form> 
                </p:tab>

                <p:tab title="Administrar vehículos">
                    <h:form id="adm-form">
                        <h:panelGrid columns="1" cellpadding="5" style="background-color: white">
                            <h:dataTable value = "#{vehiculosBean.listaVehiculosDb()}" var = "vehiculos"
                                         styleClass="table table-striped table-bordered tableUpdated">

                                <h:column>    				
                                    <f:facet name = "header">Placa</f:facet>    				
                                    #{vehiculos.vehiculosPlaca}
                                </h:column>

                                <h:column>
                                    <f:facet name = "header">Tipo</f:facet>
                                    #{vehiculos.vehiculosTipo}
                                </h:column>

                                <h:column>
                                    <f:facet name = "header">Cédula Propietario</f:facet>    				
                                    #{vehiculos.vehiculosClientesCedula}
                                </h:column>

                                <h:column>
                                    <f:facet name="header"></f:facet>
                                    <h:commandButton action="#{vehiculosBean.editarVehiculoDialog()}" value="Editar" styleClass="btn btn-primary">
                                        <f:param name="selectedPlaca" value="#{vehiculos.vehiculosPlaca}" />
                                    </h:commandButton>
                                </h:column>

                                <h:column>
                                    <f:facet name="header"></f:facet>
                                    <h:commandButton action="#{vehiculosBean.borrarVehiculoPorPlaca(vehiculos.vehiculosPlaca)}" value="Eliminar" styleClass="btn btn-danger" />
                                </h:column>
                            </h:dataTable>
                        </h:panelGrid>
                    </h:form>                   
                </p:tab>
            </p:accordionPanel>                   
        </div>   
    </ui:define>

</ui:composition>
